/.husky             export-ignore
/.git*              export-ignore
/vendor             export-ignore
/composer.*         export-ignore
/INSTALL.md         export-ignore
/LICENSE            export-ignore
/package*.json      export-ignore
/phpcs.xml          export-ignore
